@media screen and (max-width:1400px) {

    .video__container{
        padding: 200px 0;
        min-height:100% ;
        
       
    }

    .container{
        padding-right: 20px;
        padding-left: 20px;
    } 


    .welcome__image{
        left: inherit;
        
        
    }


}


@media screen and (max-width:1200px) {

    .welcome__image{
        width: 100%;
        padding-right: 100px;
    }
    .welcome__image img{
        width: 100%;
    }


    .welcome__container{
        flex-direction: column-reverse;
    }

    .how-info__title{
        max-width: 100%;
    }

    .welcome__desc, .how-info__slogan{
        max-width: 100%;

    }
    .how-info__desc{
        max-width: 100%;
    }

    .welcome{
        margin-bottom: 200px;
    }

    .how-info{
        flex-direction: column;
        align-items: center ;
        gap: 30px;
        
    }   


    .how-step{
        grid-template-columns:  1fr 1fr;
    }

    .how-step__img img{
        width: 100%;
        

    }

    .video__container{
        flex-direction: column;
        padding: 50px  0;
    }

    .video__title{
        margin-top: 0;
    }

    .video__image img{
        width: 100%;
    }

    .parent{
        display: flex;
        flex-direction: column;
    }

    .div1 
    {
        
        width: 100%;
    }
    .div2{
        padding-top: 0;
        
        
        
    }
    .main__our{
        
    }

    .footer{
        flex-direction: column;
    }

    .header__container{
        padding-top: 30px ;
        padding-bottom: 30px ;
    }

    .header__btn{
        display: none;


    }

    .header{
        height: 90px;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: #fff;
    }

    main{
        padding-top: 90px;
    }
}


@media screen and (max-width:992px){

    #burger{
        display: inline-block;
    }

    .header__ul{
       position: fixed;
       left: 0;
       top: 0;
       width: 80%;
       height: 100%;
       background: var(--color-primary);
       flex-direction: column;
       align-items: center;
       justify-content: center; 
       transform: translateX(-120%);
       transition: .2s all ease-in-out;
    }

    .header__ul._active{
        transform: translateX(0);
    }
}

@media  screen and (max-width:576px) {
     .how-step{
        grid-template-columns: 1fr ;
        max-width: 100px;
     }
}